.button-back {
    border: none;
    background: #bb262d;
    color: #fff;
    text-decoration: none;
}

.button-back:hover {
    background: #bb262dc9;
    color: #fff;
}

.button-painel {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #4b5b64;
    color: #fff;
    text-decoration: none;
}

.button-painel:hover {
    background: #323f46;
    color: #fff;
}

.button {
    border: none;
    background: #137eba;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background: #1276af;
    color: #fff;
}

.button-submit {
    width: 50%;
    border: none;
    background: #137eba;
    color: #fff;
}

.button-submit:hover {
    background: #1276af;
}


/* tipografia */

h1 {
    font-family: NotoSansJP-Bold;
    font-size: 25px;
    color: #1276af;
    border-bottom: 4px solid #1276af;
}