.topo-contato {
    background: #137eba;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: right;
    padding: 5px 10px
}

.icones-topo {
    font-size: 18px;
    margin: 0 5px;
    padding: 0 5px;
    background: #fff;
    border-radius: 5px;
    color: #137eba
}

.navegacao {
    padding: 5px 25px;
    background: #fff;
    border-bottom: 1px dotted #4b5b64;
}

.logo {
    width: 120px;
}

.icone-menu {
    font-size: 30px;
    color: #137eba;
}

.icon-home {
    font-size: 25px;
    color: #137eba;
}

.icon-home:hover {
    font-size: 27px;
}

.nav-item {
    padding: 10px 15px;
    margin-top: 10px;
    margin: auto 10px;
}

.link-nav {
    font-size: 16px;
    font-weight: bold;
    color: #4b5b64;
    text-decoration: none;
}

.link-nav:hover {
    color: #323f46;
}

.logout {
    color: #bb262e;
}

.logout:hover {
    color: #a82027;
}

.start-session {
    background: #137eba;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 1.5s;
}

.start-session:hover {
    background: #115983;
    color: #fff;
}