.titulo-duvidas h2,
.titulo-duvidas h4 {
    color: #bb262e;
    font-weight: bold;
}

.cards-forum {
    background: unset;
    padding: 10px 40px;
    margin: 20px 40px;
    transition: box-shadow 1.5s, background-color 1.5s;
}

.cards-forum:hover {
    box-shadow: 1px 1px 20px 1px #137dba7c;
    background: #fff;
    border-radius: 5px;
}

.cards-forum h3 {
    color: #bb262e;
    font-size: 14px;
    font-weight: bold;
}

.cards-forum p {
    color: #4b5b64;
}

.button-duvidas {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #137eba;
    display: block;
    margin: 5px 10px;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 1.5s;
}

.button-duvidas:hover {
    background: #115983;
    color: #fff;
}