.btn-publicar {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #137eba;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
    border: unset;
}

.btn-publicar:hover {
    background: #115983;
    color: #fff;
}

.box-publicacao {
    box-shadow: 1px 1px 5px 1px #4b5b6488;
    background: #fff;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .box-container {
        padding: 0 10%;
    }
}

@media screen and (max-width: 576px) {
    .box-container {
        padding: 0 0;
    }
}

.header-publicacao {
    display: flex;
    justify-content: space-between;
}

.img-perfil {
    border-radius: 100%;
    box-shadow: 1px 1px 5px 1px #4b5b6491;
    width: 70px;
}

.box-img-publicacao {
    background: transparent !important;
    z-index: 999;
}

.box-content-post .box-img-publicacao img {
    max-width: 100%;
    max-height: 100%;
    min-width: 50%;
    min-height: 50%;
}

.box-footer-publicacao {
    display: flex;
    justify-content: center;
    /* margin-bottom: 12px; */
}

.btn-footer-publicacao {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #4b5b64;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
    border-radius: 0 0 5px 5px;
}

.btn-footer-publicacao:hover {
    background: #3d4a52;
    color: #fff;
}

.btn-footer-topico {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #4b5b64;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
}

.btn-footer-topico:hover {
    background: #3d4a52;
    color: #fff;
}

.barra-lateral {
    border-right: 2px solid #fff;
}

.icon-comment {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .btn-footer-publicacao {
        padding: 5px 20px;
        font-size: 12px;
    }
    .icon-comment {
        font-size: 14px;
    }
}

.collapsing {
    transition: all 1s !important;
}


/* comentario */

.header-comentario {
    display: flex;
    justify-content: space-between;
}

.box-comentario {
    background: #fff;
    border-radius: 0 0 5px 5px;
    /* margin: 0 0 5px 20px; */
}

.box-img-comentario {
    background: transparent !important;
    z-index: 999;
}

.box-img-comentario img {
    max-width: 70%;
    max-height: 70%;
    min-width: 30%;
    min-height: 30%;
}

@media screen and (max-width: 767px) {
    .box-img-comentario img {
        max-width: 100%;
        max-height: 100%;
        min-width: 50%;
        min-height: 50%;
    }
}

.btn-comentar {
    background: #137eba;
    display: block;
    width: 100%;
    border: unset;
    padding: 6px 30px;
    color: #fff;
    transition: background-color 1.5s;
}

.btn-comentar:hover {
    background: #115983;
    color: #fff;
}

.datetime {
    color: #4b5b64;
    font-size: 10px;
}

.remove-marker::marker {
    color: transparent !important;
}

.link-usuario {
    color: unset;
    text-decoration: none;
}

.link-usuario:hover {
    color: unset;
    text-decoration: underline;
}

.break-content {
    word-break: break-all;
}