.banner {
    background: url('/FORUM_CODEIGNITER/assets/img/banner/banner.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 404px;
    width: 100%;
    display: table;
}

.box-banner {
    display: table-cell;
    vertical-align: middle;
}

.coluna-card {
    /* margin-top: 100px; */
    padding: 0px;
}

.coluna-card a {
    text-decoration: none;
}

.cards {
    background: #bb262d96;
    margin: 5px 10px;
    border: 1px dotted transparent;
    transition: background-color 1.5s, border 1.5s;
}

.cards:hover {
    background: #bb262d;
    border: 1px dotted #fff;
}

.cards-perfil {
    background: #137dbaa1;
    margin: 5px 10px;
    border: 1px dotted transparent;
    transition: background-color 1.5s, border 1.5s;
}

.cards-perfil:hover {
    background: #137eba;
    border: 1px dotted #fff;
}

.coluna-card .cards h2,
.coluna-card .cards-perfil h2 {
    color: #fff;
    font-size: 16px;
    padding: 20px 40px
}

.titulo-home {
    color: #fff;
}

.titulo-home span {
    font-size: 18px;
    font-weight: bold;
}

.titulo-home h1 {
    font-size: 60px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .banner {
        height: 300px;
    }
    .titulo-home h1 {
        font-size: 30px;
    }
    .titulo-home span {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .icon-down {
        font-size: 40px;
        color: #fff;
        position: relative;
        animation: animacao-box 2s infinite;
    }
    /* efeito de animação */
    @keyframes animacao-box {
        /* estado inicial dessa animação */
        from {
            top: 0;
        }
        /* estado final dessa animação */
        to {
            top: 20px;
        }
    }
}

@media screen and (min-width: 769px) {
    .box-icon-down {
        display: none;
    }
}