.box-shadow {
    box-shadow: 1px 1px 5px 1px #4b5b6488;
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
}

.btn-publicar {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #137eba;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
    border: unset;
}

.btn-publicar:hover {
    background: #115983;
    color: #fff;
}

.box-publicacao {
    box-shadow: 1px 1px 5px 1px #4b5b6488;
    background: #fff;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .box-container {
        padding: 0 10%;
    }
}

@media screen and (max-width: 576px) {
    .box-container {
        padding: 0 0;
    }
}

.header-publicacao {
    display: flex;
    justify-content: space-between;
}

.img-perfil {
    border-radius: 100%;
    box-shadow: 1px 1px 5px 1px #4b5b6491;
    width: 70px;
    height: 70px;
}

.box-img-publicacao {
    background: transparent !important;
    z-index: 999;
    object-fit: contain;
}

.box-content-post .box-img-publicacao img {
    width: 100%;
    max-height: 400px;
    display: block;
    object-fit: contain;
    object-position: center;
    background: #4b5b644a;
}

.box-footer-publicacao {
    display: flex;
    justify-content: center;
    /* margin-bottom: 12px; */
}

.btn-footer-publicacao {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #4b5b64;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
    border-radius: 0 0 5px 5px;
}

.btn-footer-publicacao:hover {
    background: #3d4a52;
    color: #fff;
}

.btn-footer-publicacao-alert {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #4b5b64;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
    border-radius: 5px;
}

.btn-footer-publicacao-alert:hover {
    background: #3d4a52;
    color: #fff;
}

.btn-footer-topico {
    padding: 5px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #4b5b64;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 1.5s;
}

.btn-footer-topico:hover {
    background: #3d4a52;
    color: #fff;
}

.barra-lateral {
    border-right: 2px solid #fff;
}

.icon-comment {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .btn-footer-publicacao {
        padding: 5px 20px;
        font-size: 12px;
    }
    .icon-comment {
        font-size: 14px;
    }
}

.collapsing {
    transition: all 1s !important;
}


/* comentario */

.header-comentario {
    display: flex;
    justify-content: space-between;
}

.box-comentario {
    background: #fff;
    border-radius: 0 0 5px 5px;
    /* margin: 0 0 5px 20px; */
}

.box-img-comentario {
    background: transparent !important;
    z-index: 999;
}

.box-img-comentario img {
    max-width: 70%;
    max-height: 70%;
    min-width: 30%;
    min-height: 30%;
}

@media screen and (max-width: 767px) {
    .box-img-comentario img {
        max-width: 100%;
        max-height: 100%;
        min-width: 50%;
        min-height: 50%;
    }
}

.btn-comentar {
    background: #137eba;
    display: block;
    width: 100%;
    border: unset;
    padding: 6px 30px;
    color: #fff;
    transition: background-color 1.5s;
}

.btn-comentar:hover {
    background: #115983;
    color: #fff;
}

.datetime {
    color: #4b5b64;
    font-size: 10px;
}

.remove-marker::marker {
    color: transparent !important;
}

.link-usuario {
    color: unset;
    text-decoration: none;
}

.link-usuario:hover {
    color: unset;
    text-decoration: underline;
}

.break-content {
    word-break: break-all;
}


/* edições */

.button-editar-publi {
    width: 100%;
    background: #3d4a52;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    padding: 8px;
    transition: background-color 1.5s;
}

.button-editar-publi:hover {
    color: #fff;
    background: #2c3338;
}

.button-close-modal {
    background: #3d4a52;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    padding: 8px;
    transition: background-color 1.5s;
}

.button-close-modal:hover {
    color: #fff;
    background: #2c3338;
}


/* NAVEGACAO PUBLICACOES E COMENTARIOS */

.navegacao {
    padding: 5px 25px;
    background: #fff;
    border-bottom: 1px solid #4b5b644d;
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 60px;
}

.icone-menu {
    font-size: 25px;
    color: #137eba;
}

.icon-home {
    font-size: 25px;
    color: #137eba;
}

.itens-view-nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-perfil-nav {
    width: 40px;
    border-radius: 100%;
    margin: 0 5px;
    object-fit: cover;
}

.nav-item {
    padding: 10px 15px;
    margin-top: 10px;
    margin: auto 10px;
}

.link-nav {
    font-size: 16px;
    font-weight: bold;
    color: #4b5b64;
    text-decoration: none;
}

.link-nav:hover {
    color: #323f46;
}

.logout {
    color: #bb262e;
}

.logout:hover {
    color: #a82027;
}

.start-session {
    background: #137eba;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 1.5s;
}

.start-session:hover {
    background: #115983;
    color: #fff;
}


/* CONTEUDO PUBLICACOES TESTE */

.box-flex {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.content-right {
    height: 100%;
    width: 33%;
    position: fixed;
    right: 0;
    top: 80px;
    overflow-y: auto;
    /* padding: 0 50px; */
}

.content-left {
    height: 100%;
    text-align: left;
    width: 33%;
    position: fixed;
    left: 0;
    top: 80px;
    overflow-y: auto;
}

.content-publi {
    width: 33%;
    margin-top: 80px;
}

.content-right::-webkit-scrollbar,
.content-left::-webkit-scrollbar {
    display: none;
}

.content-publicacao {
    padding: 0 10px;
}

.right-content {
    padding: 0 20px;
}

.left-content {
    padding: 0 20px;
}

@media screen and (min-width: 1025px) {
    .content-right,
    .content-left {
        width: 30%;
    }
    .content-publi {
        width: 40%;
    }
}

@media screen and (max-width: 1024px) {
    .content-right,
    .content-left {
        width: 25%;
    }
    .content-publi {
        width: 50%;
    }
    /* .box-flex {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    } */
}

@media screen and (max-width: 768px) {
    .box-flex {
        display: flex;
        flex-wrap: wrap;
        margin: 0 80px;
    }
    .content-right {
        display: none;
    }
    .content-left {
        display: none;
    }
    .content-publi {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .content-right,
    .content-left {
        display: none;
    }
    .box-flex {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #4b5b6488;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #137dba7e;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}