/* FONTE GERAL */

@font-face {
    font-family: NotoSansJP-Bold;
    src: url('/assets/font/Roboto/Roboto-Italic.ttf');
}

body {
    /* font-family: NotoSansJP-Regular; */
    font-family: 'Roboto', sans-serif;
    background: url('../../assets/img/background-forum.png');
    overflow-x: hidden;
}


/* inputs login */

.input {
    border-color: #137eba;
    border-radius: 0px
}


/*  footer */

.box-footer {
    background: #323f46;
    position: relative;
    bottom: 0;
    width: 100%;
}

.box-content-footer {
    padding: 0 20px 10px 20px;
}

.box-content-footer h2 {
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 2px dotted #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.box-content-footer p {
    color: #fff;
}

.box-content-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 1s;
}

.icons-footer {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    transition: color 1s;
}

.box-content-footer a:hover {
    color: #137eba;
}

.box-content-footer a:hover .icons-footer {
    color: #137eba;
}

.copy {
    font-size: 10px;
    color: #65737b;
}