.button-back {
    border: none;
    background: #bb262d;
    color: #fff;
    text-decoration: none;
}

.button-back:hover {
    background: #bb262dc9;
    color: #fff;
}

.box-painel {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

.box-painel:hover {
    color: #fff;
}

.box-painel .box {
    text-align: center;
    background: #323f46;
    padding: 50px;
    transition: background-color 1.5s;
}

.box-painel .box:hover {
    background: #222b30;
}

.button {
    border: none;
    background: #137eba;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background: #1276af;
    color: #fff;
}

.button-submit {
    width: 50%;
    border: none;
    background: #137eba;
    color: #fff;
}

.button-submit:hover {
    background: #1276af;
}


/* tipografia */

h1 {
    font-family: NotoSansJP-Bold;
    font-size: 25px;
    color: #1276af;
    border-bottom: 4px solid #1276af;
}