.titulo-duvidas h2,
.titulo-duvidas h4 {
    color: #bb262e;
    font-weight: bold;
}

.cards-forum {
    background: #fff;
    padding: 10px 40px;
    margin: 20px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #4b5b6488;
    transition: box-shadow 1.5s, background-color 1.5s, border 1s;
}

.cards-forum:hover {
    box-shadow: 1px 1px 20px 1px #137dba7c;
    background: #fff;
}

.cards-forum h3 {
    color: #bb262e;
    font-size: 14px;
    font-weight: bold;
}

.cards-forum p {
    color: #4b5b64;
}

.button-duvidas {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #137eba;
    display: block;
    margin: 5px 10px;
    padding: 8px 0;
    border-radius: 5px;
    transition: background-color 1.5s;
}

.button-duvidas:hover {
    background: #115983;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .cards-forum {
        padding: 10px 10px;
        margin: 10px 20px;
    }
    .button-duvidas {
        padding: 5px 0;
    }
}

@media screen and (max-width: 991px) {
    .button-duvidas {
        padding: 5px 0;
    }
}

@media screen and (max-width: 1199px) {
    .cards-forum {
        padding: 10px 10px;
        margin: 10px 20px;
    }
}